@font-face {
    font-family: 'Vazir';
    src: url();
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*Main Styling*/

html,body {
font-family: 'Courier New', Courier, monospace;
line-height: 1.4;
}

a {
text-decoration: none;
}

/*ََUtility Classes*/

.bg-dark{
    background: #333;
    color:white;
}

.text-primary{
    color: orange;
}

.l-heading{
    font-size: 2rem;
}

.bold{
    font-size: 1.3rem;
    font-weight: bold;
}

.btn{
    color: white;
    background: orange;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.m-1 { margin: 1.25rem; }
.m-2 { margin: 2rem; }
.m-3 { margin: 3rem; }

.p-1 { padding: 1.25rem; }
.p-1 { padding: 2rem; }
.p-1 { padding: 3rem; }

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}

#navbar a{
    color: white;
}

#navbar ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: orange;
    color: white;
    border-radius: 5px;
}

#showcase{
    background: #333 url(../img/shoecase.) center cover no-repeat;
    height: 100vh;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*color: white;*/
}








